{% extends "admintemplate.html" %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}

<div class="w-full bg-white rounded-lg shadow-lg p-8 border border-gray-300 ">
  <h1>Login to admin area</h1>
  <div class="row">
    <div class="col-sm-5">

        {% if form_type =='login'%}
      <h1>Login</h1>
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{ form.csrf_token() }}

        <label for="username">Username</label>
        {% if request.method == 'POST' %} {% for error in form.username.errors
        %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %} {% endif %} {{ form.username(class="form-control") }}

        <label for="password">Password</label>
        {% if request.method == 'POST' %} {% for error in form.password.errors
        %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %} {% endif %} {{ form.password(class="form-control") }} {{
        form.submit(class="btn btn-danger") }}
      </form>
      
      {% elif form_type =='signup'%}
            <h1>Sign up</h1>
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{ form.csrf_token() }}

        <label for="username">Username</label>
        {% if request.method == 'POST' %} {% for error in form.username.errors
        %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %} {% endif %} {{ form.username(class="form-control") }}

        <label for="password">Password</label>
        {% if request.method == 'POST' %} {% for error in form.password.errors
        %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %} {% endif %} {{ form.password(class="form-control") }} {{
        form.submit(class="btn btn-danger") }}
      </form>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Or...</p>

      {% if form_type == 'login'%}
      <a href="{{url_for('adminlogin', form_type='signup')}}" class="button bg-blue-300 font-white hover:bg-blue-500">
        Click here to Sign Up
      </a>
      {% elif form_type == 'signup'%}
        <a href="{{url_for('adminlogin', form_type='login')}}" class="button bg-blue-300 font-white hover:bg-blue-500">
            Click here to Login</a>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
