<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlaskCart Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>


    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="{{ url_for('adminhome') }}">Admin</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
{% block content %}

{% endblock %}

    <footer className="footer">
        <div className="footer-content">
            <p>Made with ❤️ by <a target="_blank" rel="noopener noreferrer" title="Jamfish Web Design and Development"href="https://www.jamfish.co.uk">Jamfish</a></p>
        </div>
    </footer>
</body>