{% extends "admintemplate.html" %} {% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="mb-4">
      {% for category, message in messages %}
        <div class="
          p-3 rounded mb-2
          {% if category == 'success' %} bg-green-100 text-green-800
          {% elif category == 'danger' %} bg-red-100 text-red-800
          {% else %} bg-gray-100 text-gray-800
          {% endif %}
        ">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container max-w-screen-lg mx-auto mt-8 bg-white rounded-lg shadow-lg p-8 border border-gray-300">
  <h1 class="text-2xl font-bold mb-4">Admin area</h1>
  <div class="row">
    <div class="col-sm-5">
      <h2 class="text-xl font-bold mb-4">Dashboard</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="flex flex-row gap-4 justify-start items-center">
        <a href="{{url_for('adminhome', section='new_food')}}">
          
      <div class="border border-green-500 rounded-lg p-4 bg-green-100 transition delay-100 duration-300 ease-in-out hover:bg-green-500 cursor-pointer">
        <h2 class="text-l font-bold ">Add new food item </h2>
        </div>
        </a>

        <a href="{{url_for('adminhome', section='edit_food')}}">
      <div class="border border-yellow-500 rounded-lg p-4 bg-yellow-100 transition delay-100 duration-300 ease-in-out hover:bg-yellow-500 cursor-pointer">
        
        <h2 class="text-l font-bold ">Edit or delete existing food item </h2>
        
      </div>
</a>
        <a href="{{url_for('adminhome', section='new_recipe')}}">
      <div class="border border-pink-500 rounded-lg p-4 bg-pink-100 transition delay-100 duration-300 ease-in-out hover:bg-pink-500 cursor-pointer ">
        
        <h2 class="text-l font-bold ">Add new recipe </h2>
        
      </div>
</a>
        <a href="{{url_for('adminhome', section='edit_recipe')}}">
      <div class="border border-blue-500 rounded-lg p-4 bg-blue-100 transition delay-100 duration-300 ease-in-out hover:bg-blue-500 cursor-pointer ">
        
        <h2 class="text-l font-bold ">Edit or delete existing recipe </h2>
        
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    {% if active_section == 'new_food' %}
    {% include 'formTemplates/_newFood.html' %}

    {% elif active_section == 'edit_food' %}
    {% include 'formTemplates/_editFood.html' %}

    {% elif active_section == 'new_recipe' %}
    {% include 'formTemplates/_newRecipe.html' %}

    {% elif active_section == 'edit_recipe' %}
    {% include 'formTemplates/_editRecipe.html' %}

    {% endif %}
  </div>
  <div class="row">

    <p class="py-4">Or...</p>
    <a class="bg-red-600 hover:bg-red-600 text-white px-4 py-2 rounded mt-2" href="{{ url_for('logout') }}">Logout</a>
  </div>
</div>

{% endblock %}